priority -50

snippet @p "@param {Type} varname Description"
@param {${1}}
endsnippet

snippet @r "@return {Type} Description"
@return {${1}}
endsnippet

snippet imp "import Module from 'module'"
import ${1} from '${2}';
endsnippet

snippet cl "console.log"
console.log(${1});
endsnippet
