[submodule "pack/bundle/start/argtextobj"]
	path = pack/bundle/start/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "pack/bundle/start/javascriptcomplete"]
	path = pack/bundle/start/javascriptcomplete
	url = git@github.com:jimf/javascriptcomplete.git
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/bufexplorer"]
	path = pack/bundle/start/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "pack/bundle/start/xml"]
	path = pack/bundle/start/xml
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "pack/bundle/start/Align"]
	path = pack/bundle/start/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/lustyjuggler"]
	path = pack/bundle/start/lustyjuggler
	url = https://github.com/sjbach/lusty.git
[submodule "pack/bundle/start/MatchTag"]
	path = pack/bundle/start/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "pack/bundle/start/css-color"]
	path = pack/bundle/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/bundle/start/ragtag"]
	path = pack/bundle/start/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "pack/bundle/start/coffee-script"]
	path = pack/bundle/start/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pack/bundle/start/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/bundle/start/indent-guides"]
	path = pack/bundle/start/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/bundle/start/BufOnly"]
	path = pack/bundle/start/BufOnly
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "pack/bundle/start/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/vim-over"]
	path = pack/bundle/start/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/bundle/start/vim-tmux-navigator"]
	path = pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/bundle/start/vim-crystal"]
	path = pack/bundle/start/vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "pack/bundle/start/vim-projectionist"]
	path = pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "pack/bundle/start/vim-dispatch"]
	path = pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/bundle/start/vim-grepper"]
	path = pack/bundle/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "pack/bundle/start/vim-abolish"]
	path = pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/bundle/start/vim-json"]
	path = pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/bundle/start/vim-jsx-pretty"]
	path = pack/bundle/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/bundle/start/auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/bundle/start/emmet-vim"]
	path = pack/bundle/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/bundle/start/vim-mustache-handlebars"]
	path = pack/bundle/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "pack/bundle/start/vim-closetag"]
	path = pack/bundle/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/bundle/start/fugitive-gitlab"]
	path = pack/bundle/start/fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
